<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>

    <script src="js/script.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>TP1</title>
</head>

<body>
    <div id="app">
        <form v-on:submit="ajouterRestaurant">
            <label>
                Nom : <input type="text" v-model="name" name="name">
            </label>
            <label>
                Cuisine : <input type="text" v-model="cuisine" name="cuisine">
            </label>
            <button>Ajouter</button>
        </form>
        <br>
        <br>

        <label>
            Chercher un restaurant
            <input type="text" name="" v-model="name" placeholder="Chercher restaurant" v-on:input="getRestaurantsFromServer()">
        </label>

        <h1>Nombre de restaurants : {{nbRestaurants}}</h1>
        <table>
            <thead>
                <tr>
                    <td>nom</td>
                    <td>cuisine</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="r,index in restaurants" v-bind:style="{backgroundColor:getColor(index)}" v-bind:class="{bordureRouge: (index === 4)}">
                    <td v-on:click="supprimerRestaurant(r)">{{r.name}}</td>
                    <td v-on:click="supprimerRestaurant(r)">{{r.cuisine}}</td>
                    <td>
                        <form v-on:submit="modifierRestaurant(event);">
                            <label style="display:none">
                                Id: <input type="text" name="_id" value="index" required disabled>
                            </label>
                            <label>
                                Nom: <input type="text" name="nom" required>
                            </label>
                            <br>
                            <label>
                                Cuisine: <input type="text" name="cuisine" required>
                            </label>
                            <button>Modifier</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <button v-on:click="premierePage()">First</button>
        <button v-on:click="pagePrecedente()">Previous</button>
        <button v-on:click="pageSuivante()">Next</button>
        <button v-on:click="dernierePage()">Last</button>
    </div>

</body>

</html>